name: Dart CI
on:  
   create:
      branches: 
      - master
      tags: 
      - '*'
jobs:
 build-and-test: 
  runs-on: ${{ matrix.os }}
  strategy:
    matrix:
      os: [ubuntu-latest]
  steps:
  - name: Hello world
    run: echo version file $GITHUB_RUN_NUMBER  with version tag $middle_name $Last_Name!
    env:
      TAG_NAME: v10'$GITHUB_RUN_NUMBER'Beta
  - uses: actions/checkout@v1 
  - uses: actions/setup-java@v1
    with:
      java-version: '12.x'
  - uses: subosito/flutter-action@v1
    with:
       flutter-version: '1.9.1+hotfix.6'
       channel: 'stable '
  # Get flutter packages
  - run: flutter pub get
    # Build :D 
  - run: flutter build aot
  - run: flutter build apk --debug
  - name: Create a Release APK
    uses: ncipollo/release-action@v1
    with:
     artifacts: "build/app/outputs/apk/debug/*.apk"
